h3 {
  margin-top: 40vh;
  text-align: center;
}

h4 {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

table {
  background-color: rgb(255, 183, 3, 0.2);
  margin: 0 auto 10px;
  width: 96vw;
}

table td {
  font-size: 18px;
  padding: 4px;
}

table tr td:nth-of-type( 1 ) {
  max-width: 50%;
  padding-left: 5px;
}

.main-image {
  width: 99vw;
}

.recipe-title {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 14%;
  line-height: 34px;
}

.title-and-icons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2px 7px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: 100px;
}

.icons-container input {
  width: 26px;
}

.copied {
  color: rgba(102, 155, 188, 1);
  display: inline;
  font-size: 14px;
  position: absolute;
  right: 100px;
}

.category {
  margin-top: -5px;
  padding-left: 9px;
}

.p-instructions {
  background-color: rgb(255, 183, 3, 0.2);
  margin: 0 auto 10px;
  padding: 8px;
  text-align: end;
  width: 96vw;
}

.recommended-container {
  margin: 0 10px 40px;
}

.video-container {
  background: rgb(236, 236, 236);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: 96vw;
}
