.footer {
  align-items: center;
  background-color: white;
  bottom: 0;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  left: 0;
  padding-top: 8px;
  position: fixed;
  right: 0;
}

.header {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  font-family: Porter Sans Block , sans-serif;
  height: 55px;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.search-bar {
  background-color: white;
  border-radius: 27px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto 10px;
  padding: 5px;
  width: 96%;
}

.search-bar input {
  border: 1px solid black;
  border-radius: 27px;
  box-sizing: border-box;
  color: rgb(197, 182, 182);
  margin-bottom: 8px;
  padding-left: 8px;
}

.search-bar-labels-container {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: 0 4px;
}

.search-bar button {
  align-self: flex-end;
  background-color: rgb(120, 0, 0);
  border: none;
  border-radius: 27px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 0 5px 5px;
  width: 85px;
}

.search-bar-labels-container input:checked {
  visibility: hidden;
}

.search-bar-labels-container label span {
  background-image: url('../images/circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-input, .search-input {
  position: relative;
  z-index: 10;
}
