div {
  font-family: Arial , Helvetica , sans-serif;
  text-align: center;
}

h2 {
  margin-top: 70px;
}

.button-container {
  margin-top: 100px;
}

.profile-buttons {
  background-color: rgb(120, 0, 0);
  border: 0;
  border-radius: 27px;
  box-shadow: 3px 3px 3px rgb(196, 196, 196);
  color: white;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 2%;
  size: 25px;
  width: 70%;
}
